<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css"
      integrity="sha256-ujE/ZUB6CMZmyJSgQjXGCF4sRRneOimQplBVLu8OU5w="
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Mobikit App Rideshare Demo</h1>
        <br /><br />

        <p><strong>I am a...</strong></p>
        <button class="button is-link" onclick="location.href='/rider'">
          Rider
        </button>
        <button class="button is-link" onclick="location.href='/driver'">
          Driver
        </button>
      </div>
    </section>
  </body>
</html>
